<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poseidon Capital Solutions</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
<!--/*/ <th:block th:include="fragments/menu.html :: menu"> </th:block> /*/-->

<h3> HOME PAGE </h3>
<p>
    <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
<p sec:authorize="isAuthenticated()">
    Welcome <b sec:authentication="name"></b>, you are connected
</p>
</div>
</body>
</html>